.navbar.change-color {
  background-color: #bdbdbd ;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4 ease-in-out;
  -ms-transition: all 0.4 ease-in-out;
  -o-transition: all 0.4 ease-in-out;
  transition: all 0.4 ease-in-out;
}

.navbar.change-color-2 {
  background-image: url("../img/cover-photo.jpg");
}

body {
  position: relative;
}

.image{
  background-image: url("../img/cover-photo.jpg");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  height:100vh;
  max-height:100%;
}

/*Fixed the nav brand colors here*/
.navbar-brand{
  color:white !important;
  margin:20px;
  font-size: 25px;
  font-family: 'Baloo Bhaina', cursive;
  outline:none;
}

.navbar-brand:hover{
  color:black !important;
  border-radius: 20px;
  background-color: white;
}

.navbar-brand:focus{
  color:black;
}

.navbar li a{
  margin:20px;
  font-size:18px;
  outline: none;
  font-family: 'Baloo Bhaina', cursive;
  font-weight: 600;
  color:white;
}

.icon-bar{
  background-color: white;
}

.navbar-toggle{
  margin-top: 24px;
}

.welcome {
  padding: 125px 10px;
  text-align: center;
  color:white;
}

.welcome h1{
  font-family: 'Baloo Bhaina', cursive;
  font-size: 50px;
  margin-top: 35px;
  margin-bottom: 55px;
}

.welcome p{
  font-family: 'Baloo Bhaina', cursive;
  font-size: 25px;
  margin-top: 100px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: grey;
  border-radius: 15px;
  padding:10px;
  opacity: 0.9;
}

.about-section{
  background-color: #bdbdbd;
  height: 670px;
  margin-top: -10px;
  font-family: 'Baloo Bhaina', cursive;
}

.about-section-title{
  margin-top: 150px;
  color: #424242 ;
}

.about-section h4{
  font-family: 'Baloo Bhaina', cursive;
  font-size: 30px;
}

.about-section h3{
  margin-left:40px;
}

.about-section li{
  font-size: 19px;
  margin: 2px 2px 20px 50px;

}

.nav-fonts:hover{
  color:black;
  border-radius: 20px;
}

.nav-fonts-change{
  color: green !important;
}

.project-section{
  height: 100%;
  margin:40px;
}

.project-section h4{
  font-family: 'Baloo Bhaina', cursive;
  font-size: 30px;
  margin-top: 110px;
}

/*Project preview code*/
.project-preview-core{
  margin-top: 35px;
  margin-bottom: 100px;
}

.project-preview img{
  height: 200px;
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.contact-section{
  height: 300px;
  background-image: url("../img/cover-photo.jpg");
}

.contact-section h4{
  font-family: 'Baloo Bhaina', cursive;
  font-size: 30px;
  color: white;
  margin-top: 45px;
}

.contact-section a{
  text-decoration: none;
}

.contact-text{
  margin:50px;
  color: white;
  font-size: 15px;
  font-family: 'Baloo Bhaina', cursive;
}

.social i{
  margin-left: 20px;
  margin-right: 20px;
}

.social a{
  color: white;
}

.fa-facebook:hover{
  color: #3b5998;
}

.fa-linkedin:hover{
  color: #007bb6;
}

.fa-github:hover{
  color: black;
}
