.navbar{
font-family: 'Poppins', sans-serif;
background-color: #2E4053  ;
}

.main-content{
  background-color: #FD7F30;
}

.main-content p{
  margin: auto;
  padding: 230px 10px 230px 10px;
  width: 80%;
  font-size: 2.0em;
  color: #FFFFFF;

}
