[submodule "odin-recipes"]
	path = odin-recipes
	url = https://github.com/wuhyn/odin-recipes
[submodule "odin-landing-page"]
	path = odin-landing-page
	url = git@github.com:wuhyn/odin-landing-page.git
[submodule "odin-etch-a-sketch"]
	path = odin-etch-a-sketch
	url = git@github.com:wuhyn/odin-etch-a-sketch.git
